<div class='new_question'>

<form method="post" action="/questions/new">
    <input type="text" name="title" placeholder="title">
    <input type="textarea" name="body" placeholder="body">
    <input type="submit" value="Ask!">
    <input type="hidden" value="all questions" name="from">
</form>

</div>
