<div class="container">
  <% if @errors %>
    <p class="errors"><%= @errors %></p>
  <% end %>
  <div class="page-title">
      <h1>All Questions on Whack Blundertow</h1>
  </div>
  <div class="contentsection">
    <% @questions.each do |question| %>
        <p>
          <a href="/questions/<%= question.id %>">
            <%=question.title %>
          </a>
        </p>
      <% end %>
  </div>
</div>
