<div class="container">

<h1><%= @question.title %></h1>
<ul class="comments">
  <% @q_comments.each do |comment| %>
  <li><%= comment.body %></li>
  <% end %>
</ul>

<ul class="answer">
  <% @answers.each do |answer| %>
  <li><h2><%= answer.body %></h2></li>
  <% answer.comments.each do |comment| %>
    <li><%= comment.body %> </li>
    <% end %>
  <% end %>
</ul>






</div>

