<div class="container">
  <h3>
    Ask a new question!
  </h3>
  <div class="question_contaier">
    <form action='/questions' method="post">
      <input name="title" placeholder="Title">
      <textarea name="body" placeholder="Ask your question..." rows="50" cols="5"></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
